.tartalom{
}
.panel-container {
    background-color: #0f1626; /* Sötétebb kék háttér */
    position: fixed; /* Fixen marad a képernyő tetején */
    top: 0;
    left: 0;
    width: 100%; /* Az egész szélességet lefedi */
    height: 70px;
    z-index: 1000; /* Előtérben tartja más elemekkel szemben */
    display: flex; /* Rugalmas elrendezés */
    justify-content: center; /* Elemet középre helyezi vízszintesen */
    align-items: center; /* Elemet középre helyezi függőlegesen */
    padding: 10px 20px; /* Kitöltés a sávban */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Árnyék a keret alá */
}
body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/714/056/large_2x/luxury-blue-fabric-satin-fold-with-circumcised-gold-on-dark-background-vector.jpg');
    background-size: cover; /* A kép kitölti az egész képernyőt */
    background-position: center -200px; /* X tengelyen középre, Y tengelyen 50px-re fentről */
    background-repeat: no-repeat; /* Nem ismétlődik */
    background-attachment: fixed; /* Fixen marad görgetéskor */
}

.logo-image {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 70px; /* A logó mérete */
    height: auto; /* Arányosan méretezi a képet */
}
.cartImage {
    position: absolute;
    right: 200px;
    top: 10px;
    width: 70px;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.cartImage.animate {
    transform: scale(1.2); /* Kicsit nagyít */
    opacity: 0.5; /* Halványítás */
}

.menuButtons {
    font-size: 20px;
    color: #facd8b;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-right: 20px; /* Hozzáadunk egy kis távolságot jobbra */
}
.menuButtons:last-child {
    margin-right: 0; /* Az utolsó elemre ne legyen jobb margó */
}
.menuButtons:hover{
    color: #f6b95a;
}
.homePage{
    margin-top: 100px;
    display: block; /* Ez a div alapból látható */
}

.homeSzöveg {
    display: grid;
    grid-template-rows: 130px auto; /* Két automatikusan méretezett sor */
    row-gap: 10px; /* 20px távolság a két szöveg között */    position: absolute;
    left: 20%;
    top: 40%;
    height: 20%; /* Állítsd be az arányt */
    width: auto;
}

.homePageCím{
    font-size: 25px;
    color: white;
    font-family: Poppins, sans-serif;
    align-self: start;
}
.homePageAlCím{
    font-size: 20px;
    color: #bdbdbd;
    font-family: Poppins, sans-serif;
    font-style: italic;
    align-self: start;
}
.homeKép{
    height: 750px;
    width: auto;
    display: grid;
    grid-template-rows: auto auto; /* Két automatikusan méretezett sor */
    row-gap: 0px; /* 20px távolság a két szöveg között */    position: absolute;
    left: 55%;
    top: 17%;
    z-index: 1; /* A kép alapértelmezett z-index értéke */
}
.homeKép2{
    filter: sepia(100%); /* Színes tónust alkalmaz */
    height: 50px;
    width: auto;
    display: grid;
    grid-template-rows: auto auto; /* Két automatikusan méretezett sor */
    row-gap: 0px; /* 20px távolság a két szöveg között */    position: absolute;
    left: 67%;
    top: 51%;
    z-index: 3; /* A kép alapértelmezett z-index értéke */
}
.homeKépGomb{
    font-size: 40px;
    position: absolute;
    top: 51.5%;
    left: 75%;
    color: pink;
    z-index: 3;
    opacity: 0;
}
.homeKépGomb:hover{
    cursor: pointer;
}
.marketBuyGomb{

}
.BuyButton{
    position: absolute;
    top: 35px;
    left: 200px;
    padding: 5px 30px;
    background: #fcca7c;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Árnyék, hogy jobban kiemelkedjen */
    text-shadow: 1px 1px 2.5px black, -1px -1px 2.5px black, 1px -1px 2.5px black, -1px 1px 2.5px black;
    width: 85px;
    font-size: 20px;
    transition: background 0.5s;
}
.BuyButton2{
    position: absolute;
    top: 30px;
    left: 260px;
    padding: 5px 30px;
    background: #fcca7c;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Árnyék, hogy jobban kiemelkedjen */
    text-shadow: 1px 1px 2.5px black, -1px -1px 2.5px black, 1px -1px 2.5px black, -1px 1px 2.5px black;
    width: 85px;
    font-size: 20px;
    transition: background 0.5s;
}
.BuyButton:hover{
    background: #c5923d;
}
.homeBuyGomb{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background: #fcca7c;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    cursor: pointer;
    text-shadow: 1px 1px 2.5px black, -1px -1px 2.5px black, 1px -1px 2.5px black, -1px 1px 2.5px black;
    display: grid;
    grid-template-rows: auto auto; /* Két automatikusan méretezett sor */
    row-gap: 0px; /* 20px távolság a két szöveg között */
    position: absolute;
    left: 22%;
    top: 65%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Árnyék, hogy jobban kiemelkedjen */

}
.homeBuyGomb:hover{
    background: #c5923d;
}
a{
    text-decoration: none;
}

.clock {
    grid-template-rows: auto auto; /* Két automatikusan méretezett sor */
    row-gap: 0px; /* 20px távolság a két szöveg között */    position: absolute;
    width: auto;
    height: 200px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    margin: 16% ;
    margin-left: 68%;
    align-items: center;
    z-index: 2;
    /* Alapértelmezett forgatás: 45 fok */
    transform-origin: center;  /* A középpont a forgatás középpontja */
    transition: transform 0s;  /* Nincs animáció a forgatásnál */
    transform: rotate(180deg);  /* Itt adhatod meg a kívánt dőlési szöget */
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Árnyék hozzáadása */
    transition: transform 2s ease; /* Lágyság a mutatók mozgásában */

}

/* Óramutató kiemelés */
.hour {
    width: 6px;
    height: 25%;
    background-color: #daa520;
    transform-origin: 50% 0%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Árnyék, hogy jobban kiemelkedjen */
    border: 1px solid #000;

}

/* Percmutató kiemelés */
.minute {
    width: 5px;
    height: 35%;
    background-color: #e0d25d;
    transform-origin: 50% 0%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Árnyék hozzáadása */
    border: 1px solid #000;
}

/* Másodpercmutató kiemelés */
.second {
    width: 2px;
    height: 45%;
    background-color: red;
    transform-origin: 50% 0%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Árnyék hozzáadása */
    border: 1px solid #000;
    transition: none; /* Törli az összes átmenetet */

}
.felsoHatter{
    z-index: 1; /* Kép mögött lesz az összes többi elem */
    left: 200px; /* Bal oldalon */
    top: 87px; /* Függőlegesen középen */
    position: fixed; /* Fixen marad a képernyő tetején */
}
.felsoHatterKep{
    width: 1450px;
    height: 45px;
}
.alsoHatter{
    z-index: 1; /* Kép mögött lesz az összes többi elem */
    left: 187.5px; /* Bal oldalon */
    bottom: -8px; /* Függőlegesen középen */
    position: fixed; /* Fixen marad a képernyő tetején */
    display: none; /* Ez a div alapból el van rejtve */
}
.alsoHatterKep{
    width: 1530px;
    height: 45px;
}

.balHatterKep{
    width: auto;
    height: 150px;
    transform-origin: center;  /* A középpont a forgatás középpontja */
    transition: transform 0s;  /* Nincs animáció a forgatásnál */
    transform: rotate(270deg);  /* Itt adhatod meg a kívánt dőlési szöget */
}
.jobbHatterKep{
    width: auto;
    height: 150px;
    transform-origin: center;  /* A középpont a forgatás középpontja */
    transition: transform 0s;  /* Nincs animáció a forgatásnál */
    transform: rotate(90deg);  /* Itt adhatod meg a kívánt dőlési szöget */
}
.balHatter{
    z-index: -1; /* Kép mögött lesz az összes többi elem */
    left: -17%; /* Bal oldalon */
    top: 46.5%; /* Függőlegesen középen */
    position: fixed; /* Fixen marad a képernyő tetején */
}
.jobbHatter{
    right: -17%; /* Bal oldalon */
    top: 47%; /* Függőlegesen középen */
    position: fixed; /* Fixen marad a képernyő tetején */
    z-index: -1; /* Kép mögött lesz az összes többi elem */

}
.catalogPage{
    display: none; /* Ez a div alapból el van rejtve */
    margin-top: 100px;
}
.citizenPage{
    display: none; /* Ez a div alapból el van rejtve */
    margin-top: 130px;
    margin-left: 150px;

}
.cartierPage{
    display: none; /* Ez a div alapból el van rejtve */
    margin-top: 130px;
    margin-left: 150px;
}


.content {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #fff;
}




.homeKépGomb:hover {
    transform: scale(1.05);
}

/* Modális ablak */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://static.vecteezy.com/system/resources/previews/030/904/763/large_2x/texture-of-shiny-yellow-gold-foil-sheet-gold-background-luxury-shiny-gold-texture-for-design-sample-copy-space-metal-background-texture-in-gold-gold-paint-ai-generated-photo.jpeg");
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 20px;
    width: 300px;
}

.modal-content {
    text-align: center;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}

label {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-right: 10px;
    font-weight: bold;
}

input {
    width: 80px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: center;  /* Középre igazítás */
    gap: 15px;  /* A gombok közötti távolság */
    margin-top: 15px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.save-button {
    background: #4CAF50;
    color: white;
}

.reset-button {
    background: #2196F3;
    color: white;
}

.close-button {
    background: #f44336;
    color: white;
}

button:hover {
    opacity: 0.9;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Eltűnési osztály */
.fade-out {
    animation: fadeOut 1s forwards; /* Az animáció 1 másodpercig tart */
}

/* Animációk */
@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
#timeModal {
    display: none; /* Alapértelmezés szerint rejtett */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}
.items{
    color: white;
    z-index: 2;
    margin: 0% auto; /* Középre igazítás */
}

.oraNevCartier{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Az aljára igazítja */
    height: 0%; /* Vagy fix magasság, pl. 300px */
    text-align: center;
    font-family: Felix Titling;
}
.oraNevCitizen{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Az aljára igazítja */
    height: 0%; /* Vagy fix magasság, pl. 300px */
    text-align: center;
    font-family: Felix Titling;
}
.oraNevBugatti{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 100%; /* Vagy fix magasság, pl. 300px */
    text-align: center;
    font-family: High Tower Text;
}
.oraNevJBW {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 100%; /* Vagy fix magasság, pl. 300px */
    text-align: center;
    font-family: Copperplate Gothic Bold;
}
.oraNevRolex {
    font-size: 20px;
    font-weight: bold;
    position: absolute; /* Szöveg abszolút pozíciója a szülőn belül */
    bottom: 20px; /* Kicsit felette az alsó szélnek */
    text-align: center;
    color: white; /* Fehér szöveg, hogy jól látszódjon */
    padding: 5px 10px;
    font-family: Felix Titling;
    font-size: 18px; /* Méret állítása, ha szükséges */
    z-index: 0; /* Előtérben tartja a szöveget */
}
.oraNevPatek {
    font-size: 20px;
    font-weight: bold;
    position: absolute; /* Szöveg abszolút pozíciója a szülőn belül */
    bottom: 0px; /* Kicsit felette az alsó szélnek */
    text-align: center;
    color: white; /* Fehér szöveg, hogy jól látszódjon */
    padding: 5px 10px;
    font-family: Baskerville Old Face;
    font-size: 18px; /* Méret állítása, ha szükséges */
    z-index: 0; /* Előtérben tartja a szöveget */
}
.oraNevAP {
    font-size: 20px;
    font-weight: bold;
    margin-top: 550px;
    display: flex;
    text-align: center;
    font-size: 20px;
    font-family: Copperplate Gothic Bold;
    position: absolute; /* Szöveg abszolút pozíciója a szülőn belül */
}
/* Galéria rácsos elrendezéssel */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kép egy sorban */
    gap: 20px; /* Képek közötti távolság */
    max-width: 1200px;
    margin: 0 auto; /* Középre igazítás */
    padding: 20px;
}

.gallery-itemJBW {
    margin-left: 150px;
    overflow: hidden; /* Kilógó részek eltávolítása */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover; /* Arányosan tölti ki a képet */
    transition: transform 0.3s ease-in-out;
}
.gallery-itemBugatti {
    margin-left: 250px;
    overflow: hidden; /* Kilógó részek eltávolítása */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 620px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover; /* Arányosan tölti ki a képet */
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 0; /* Biztosítsd, hogy előtérben legyen */

}
.gallery-itemCitizen{
    margin-top: -130px;
    margin-left: 220px;
    overflow: hidden; /* Kilógó részek eltávolítása */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover; /* Arányosan tölti ki a képet */
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 0; /* Biztosítsd, hogy előtérben legyen */

}
.gallery-itemCartier {
    overflow: hidden; /* Kilógó részek eltávolítása */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover; /* Arányosan tölti ki a képet */
    transition: transform 0.3s ease-in-out;
}
.gallery-itemAP {
    margin-bottom: 50px;
    overflow: hidden; /* Kilógó részek eltávolítása */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover; /* Arányosan tölti ki a képet */
    transition: transform 0.3s ease-in-out;
}
.gallery-itemRolex {
    margin-left: 150px;
    position: relative; /* Relatív pozíció a szöveg abszolút elhelyezéséhez */
    overflow: hidden; /* Kilógó részek eltávolítása */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    object-fit: cover; /* Arányosan tölti ki a képet */
    transition: transform 0.3s ease-in-out;
}
.gallery-itemPatek {
    margin-left: 250px;
    position: relative; /* Relatív pozíció a szöveg abszolút elhelyezéséhez */
    overflow: hidden; /* Kilógó részek eltávolítása */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    object-fit: cover; /* Arányosan tölti ki a képet */
    transition: transform 0.3s ease-in-out;
}


.gallery-item:hover {
    transform: scale(1.05);
}
.gallery-itemCartier:hover {
    transform: scale(1.05);
}
.gallery-itemCitizen:hover {
    transform: scale(1.05);
}
.gallery-itemAP:hover {
    transform: scale(1.05);
}
.gallery-itemRolex:hover {
    transform: scale(1.05);
}
.gallery-itemPatek:hover {
    transform: scale(1.05);
}
.gallery-itemJBW:hover {
    transform: scale(1.05);
}
.gallery-item:hover {
    transform: scale(1.05);
}
.gallery-itemBugatti:hover {
    transform: scale(1.05);
}


.bugattiKep{
    width: 400px;
    height: auto;
    z-index: -1;
}
.citizenKep{
    width: 450px;
    height: auto;
    z-index: -1;
}
.marketPageOraKep{
    width: 450px;
    height: auto;
    position: absolute;
    top: 250px;
    transition: transform 0.3s ease-in-out;
}
.marketPageOraKep:hover {
    transform: scale(1.05);
}
.marketOraNev{
    color: white;
    font-size: 45px;
    position: absolute;
    top: 250px;
    left: 700px;
    font-style: italic;
    font-weight: bold;

}
.citizenPage .marketPageBrandKep{
    width: 150px;
    height: auto;
    background-color: white;
    border: 10px solid transparent;
}
.citizenPage .marketPageBrandKep2{
    width: 200px;
    height: auto;
    background-color: white;
    border: 20px solid transparent;
}
.cartierPage .marketPageBrandKep{
    width: 150px;
    height: auto;
    border: 10px solid transparent;
    margin-left: -30px;
}
.cartierPage .marketPageBrandKep2{
    width: 180px;
    height: auto;
    background-color: white;
    border: 10px solid transparent;
}

.market2{
    position: absolute;
    top: 165px;
    left: -40px;
}
.shop1{
    position: absolute;
    top: 500px;
    left: 800px;
    width: 500px;
}
.shopNev{
    color: white;
    font-size: 30px;
    position: absolute;
    top: -20px;
    left: 200px;
    font-weight: bold;
}
.shopNev2{
    width: 500px;
    color: white;
    font-size: 30px;
    position: absolute;
    top: -25px;
    left: 260px;
    font-weight: bold;
}
.cartierKep{
    width: 350px;
    height: auto;
}
.jbwKep{
    width: 380px;
    height: auto;
}
.cartierKepHidden{
    width: 350px;
    height: auto;
    display: none; /* Ez a div alapból el van rejtve */
}
.jbwKepHidden{
    width: 380px;
    height: auto;
    display: none; /* Ez a div alapból el van rejtve */
}
.rolexKep{
    width: 400px;
    height: auto;
}
.patekKep{
    width: 400px;
    height: auto;
}
.APkep{
    width: 350px;
    height: auto;
}
.catalogCím{
    margin-top: 150px;

}

.title {
    margin-left: 70px;
    font-size: 30px;
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #ffffff;
}
.title2 {
    margin-left: 50px;
    font-size: 30px;
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #ffffff;
}

/* Cím utáni dísz stílusa */
.title::after {
    content: '';
    background: #f9cb7c;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.title2::after {
    content: '';
    background: #f9cb7c;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.marketVonal::after {
    content: '';
    background: #f9cb7c;
    width: 800px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    left: 60%;
    transform: translateX(-50%)
}
.marketÁr{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 560px;
    width: 200px;
    text-decoration: underline;
    font-style: italic;
}
.marketÁr2{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 600px;
    width: 200px;
    text-decoration: underline;
    font-style: italic;

}
.átváltás{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 45px;
    left: 650px;
    width: 200px;

}
.page {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

.page.visible {
    opacity: 1;
    transform: scale(1);
    display: block;
}
.hatter {
    opacity: 0.7;
    left: 146px; /* Bal oldalon */
    top: 130px; /* Függőlegesen középen */
    position: fixed; /* Fixen marad a képernyő tetején */
    width: 84.8%; /* A teljes szélességet lefedi */
    height: 82%; /* A teljes magasságot lefedi */
    z-index: -1; /* Minden más elem mögé kerül */
    background-color: #141b2b;
    background-size: cover; /* Kitölti a teljes területet, arányosan */
    background-position: center; /* Középre igazítva */
    background-repeat: no-repeat; /* Nem ismétlődik */
    background-attachment: fixed; /* Fixálva marad a képernyőn görgetéskor */
}
.lefeleArrow{
    height: 150px;
    width: auto;
    position: absolute;
    top: 790px;
    left: 910px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;


}
.lefeleArrow:hover{
    transform: scale(1.05);
}
html {
    scroll-behavior: smooth; /* Lágy görgetés aktiválása */
}
#ugras {
    margin-top: 0px; /* Teszteléshez távolítsd el ezt az értéket! */
}
.backGomb{
    height: 80px;
    width: auto;
    position: absolute;
    top: 120px;
    left: 30px;
}
.backGomb:hover{
    cursor: pointer;
}